.container {
    margin: auto;
    width: 40%;
    height: 40vh;
    position: relative;
}

.input,
.buttons {
    width: 100%;
    border: 2px solid grey;
    padding: 2px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-end;
    height: auto;
    /* padding: 2px; */
}


.keys {

    margin: 2px;
    padding: 5%;
    flex-basis: 24%;
    font-size: 24px;
}


.input {
    height: 30%;
    text-align: center;
    display: flex;
}



.editButtons {
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
}

.screen {
    flex-basis: 80%;
}

.editButtons button {
    font-size: 20px;
    height: -webkit-fill-available;
}

/* #clear,
#backspace {
    position: absolute;
    right: 3px;
    top: 3px;
}

#backspace{
    right: 12px;
    top: 50%;
} */